<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatbox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <style>
    #left{
        height: 100vh;
        overflow: auto;
        
    }
    #right{
        height: 90vh;
        overflow: auto;
       
    }
    #userinp{
        padding: 5px;
        
    }
  </style>
  <body>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-3 bg-success" id="left">
            Lorem ipsum dol <br>or sit amet, <br>consectetur adipisicing elit, sed <br> do eiusmod temp <br>or incididunt ut labore et dolore magna aliqua.
            sit amet, <br>c<br>or sit amet, <br>c<br>or sit amet, <br>c<br>or sit amet, <br>cvvv<br>or sit amet, <br>c<br>or sit amet, <br>c
            Ut enim ad minim veniam, quis <br> nostrud exercitation ullamco labori <br>s nisi <br> ut aliquip ex ea commodo consequat.
          </div>

          <div class="col-sm-9 col-md-6 col-lg-9 bg-warning">

           
            <div id="right">
            
              {% for item in data %}
                <div class="card mb-2 {{item['mesid']}}">
                    <div class="card-header">
                      {{item['username']}} {{item['time']}}
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>{{item['message']}}</p>
                  
                      </blockquote>
                    </div>
                  </div>
              {% endfor %}
                 

              
                 
            </div>
            <div class="input-group" id="userinp">
                <input type="text" class="form-control" placeholder="Reply here" id="mesINpt">
                <button class="btn btn-primary" type="button" id="msgbut">Send</button>
                
              </div>  
         </div>
        </div>
      </div>
    
        
   
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
 <script>

    $("#msgbut").on('click',function(){
        var inpval=$('#mesINpt').val()
        
        $.post("/files/chatUpdate",
        {
          message:inpval
        },
        function(data){



        });
        $('#mesINpt').val("")


   });
 </script>
</body>
</html>
